# any compiled python files
*.pyc 

# ipynb checkpoints
notebooks/.ipynb_checkpoints/*

# pycache
*__pycache__/

# Pycharm
.idea/

data/

notebooks/Transkribus_credential.py

reports/figures/sample_MARC_results

.streamlit/

.env